button {
    border: none;
    padding: 10px 50px 10px 50px;
    border-radius: var(--radius);
    font-size: var(--size);
    color: white;
    font-size: 1em;
}

button:hover {
    transform: scale(0.98);
    transition: 300ms linear;   
}

button:focus{
    border: solid 5px #f8ced8;
}