.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}

.fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    background-color: var(--color-2);
    padding: 20px;
}

.button-primary{
    border: none;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    font-size: var(--size);
    color: white;
    
    font-size: 1em;
}

.primary{
    border: solid 1px #d3d3d3;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    background-color: var(--color-1);
    color:var(--text);
}

.primary-1{
    border: solid 1px #d3d3d3;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    background-color: var(--color-1);
    color:var(--text);
}

.label{
    display: flex;
    flex-direction: column;
}



