/* You can add global styles to this file, and also import other style files */



:root{
    --color-1: #ffffff;
    --color-2: #eeeeee;
    --extra: #d3d3d3;
    --text: hsl(0, 0%, 25%);
    --border-1: solid 1px #d3d3d3;
    --border-2: dashed 2px #d3d3d3;

    --size: 1em;

    --radius: 5px;
    --padding-box: 20px;
}

:root .dark{
    --color-1: #2e2e2e;
    --color-2: #414141;
    --extra: #565656;
    --text: #eeeeee;
    --border-1: solid 1px #565656;
    --border-2: dashed 2px #565656;
}

:root .plus{
    --size: 1.5em;
}

body{
    background-color: var(--color-1);
    color: var(--text);
    font-size: var(--size);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Forms */

input {
    height: 30px;
}

textarea{
    height: 100px;
    resize: none;
}

input, textarea, select {
    border: var(--border-1);
    width: 100%;
    font-family:inherit;
    font-size: var(--size);
    border-radius: var(--radius);
    background-color: var(--color-1);
    color:var(--text);
}

input:hover{
    background-color: var(--color-2);
}

textarea:hover{
    background-color: var(--color-2);
}

.form-element{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

/* elements*/

.icon{
    font-size: 18px;
    color: var(--text);
  
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.shadow{
    -webkit-box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.44);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.44);
}

/* Resp */

@media only screen and (min-width: 480px) {
    .responsive-width-1{
        width: 400px;
    }
 }
 
 @media only screen and (max-width: 480px) {
     .responsive-width-1{
         width: 300px;
     }
 }
 
 @media only screen and (max-width: 350px) {
     .responsive-width-1{
         width: 200px;
     }
 }


.primary-gradient{ 
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}